=begin
#SwiftPOS API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: unset

=end

require "uri"

module SwiftApi
  class LoginApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Validates a user login.
    # If the user is a member, then the member's id or email address may be used to login.  If the user is a clerk, only the clerk id may be used to login.
    # @param id The users&#39;s id.
    # @param password The users&#39;s password.
    # @param api_key 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :type The type of login to validate (1 &#x3D; Clerk, 2 &#x3D; Member).
    # @return [nil]
    def login_get(id, password, api_key, opts = {})
      login_get_with_http_info(id, password, api_key, opts)
      return nil
    end

    # Validates a user login.
    # If the user is a member, then the member&#39;s id or email address may be used to login.  If the user is a clerk, only the clerk id may be used to login.
    # @param id The users&#39;s id.
    # @param password The users&#39;s password.
    # @param api_key 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :type The type of login to validate (1 &#x3D; Clerk, 2 &#x3D; Member).
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def login_get_with_http_info(id, password, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: LoginApi.login_get ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LoginApi.login_get"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling LoginApi.login_get"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling LoginApi.login_get"
      end
      # resource path
      local_var_path = "/api/Login/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'password'] = password
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      header_params[:'ApiKey'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoginApi#login_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
