=begin
#SwiftPOS API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: unset

=end

require "uri"

module SwiftApi
  class TransactionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Gets all transactions for a specified member.
    # 
    # @param id The id of the member.
    # @param api_key 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :member_type The type of member search to perform (0 &#x3D; Standard, 3 &#x3D; Alternate, 5 &#x3D; EGM).
    # @option opts [String] :from The from date for member transactions in the format yyyy-MM-dd or yyyy-MM-dd HH:mm:ss.
    # @option opts [String] :to The to date for member transactions in the format yyyy-MM-dd or yyyy-MM-dd HH:mm:ss.
    # @return [Array<Transaction>]
    def transaction_get(id, api_key, opts = {})
      data, _status_code, _headers = transaction_get_with_http_info(id, api_key, opts)
      return data
    end

    # Gets all transactions for a specified member.
    # 
    # @param id The id of the member.
    # @param api_key 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :member_type The type of member search to perform (0 &#x3D; Standard, 3 &#x3D; Alternate, 5 &#x3D; EGM).
    # @option opts [String] :from The from date for member transactions in the format yyyy-MM-dd or yyyy-MM-dd HH:mm:ss.
    # @option opts [String] :to The to date for member transactions in the format yyyy-MM-dd or yyyy-MM-dd HH:mm:ss.
    # @return [Array<(Array<Transaction>, Fixnum, Hash)>] Array<Transaction> data, response status code and response headers
    def transaction_get_with_http_info(id, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TransactionApi.transaction_get ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TransactionApi.transaction_get"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling TransactionApi.transaction_get"
      end
      # resource path
      local_var_path = "/api/Member/{id}/Transaction".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'memberType'] = opts[:'member_type'] if !opts[:'member_type'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      header_params[:'ApiKey'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Transaction>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionApi#transaction_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all transactions for a specified member.
    # 
    # @param id The id of the member.
    # @param api_key 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :member_type The type of member search to perform (0 &#x3D; Standard, 3 &#x3D; Alternate, 5 &#x3D; EGM).
    # @option opts [String] :from The from date for member transactions in the format yyyy-MM-dd or yyyy-MM-dd HH:mm:ss.
    # @option opts [String] :to The to date for member transactions in the format yyyy-MM-dd or yyyy-MM-dd HH:mm:ss.
    # @return [Array<Transaction>]
    def transaction_get_0(id, api_key, opts = {})
      data, _status_code, _headers = transaction_get_0_with_http_info(id, api_key, opts)
      return data
    end

    # Gets all transactions for a specified member.
    # 
    # @param id The id of the member.
    # @param api_key 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :member_type The type of member search to perform (0 &#x3D; Standard, 3 &#x3D; Alternate, 5 &#x3D; EGM).
    # @option opts [String] :from The from date for member transactions in the format yyyy-MM-dd or yyyy-MM-dd HH:mm:ss.
    # @option opts [String] :to The to date for member transactions in the format yyyy-MM-dd or yyyy-MM-dd HH:mm:ss.
    # @return [Array<(Array<Transaction>, Fixnum, Hash)>] Array<Transaction> data, response status code and response headers
    def transaction_get_0_with_http_info(id, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TransactionApi.transaction_get_0 ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TransactionApi.transaction_get_0"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling TransactionApi.transaction_get_0"
      end
      # resource path
      local_var_path = "/api/Transaction/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'memberType'] = opts[:'member_type'] if !opts[:'member_type'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      header_params[:'ApiKey'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Transaction>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionApi#transaction_get_0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
