=begin
#SwiftPOS API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: unset

=end

require "uri"

module SwiftApi
  class VoucherApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Gets all vouchers for a specified member.
    # 
    # @param id The id of the member.
    # @param api_key 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :member_type The type of member search to perform (0 &#x3D; Standard, 3 &#x3D; Alternate, 5 &#x3D; EGM).
    # @return [Array<Voucher>]
    def voucher_get(id, api_key, opts = {})
      data, _status_code, _headers = voucher_get_with_http_info(id, api_key, opts)
      return data
    end

    # Gets all vouchers for a specified member.
    # 
    # @param id The id of the member.
    # @param api_key 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :member_type The type of member search to perform (0 &#x3D; Standard, 3 &#x3D; Alternate, 5 &#x3D; EGM).
    # @return [Array<(Array<Voucher>, Fixnum, Hash)>] Array<Voucher> data, response status code and response headers
    def voucher_get_with_http_info(id, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VoucherApi.voucher_get ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VoucherApi.voucher_get"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling VoucherApi.voucher_get"
      end
      # resource path
      local_var_path = "/api/Member/{id}/Voucher".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'memberType'] = opts[:'member_type'] if !opts[:'member_type'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      header_params[:'ApiKey'] = api_key     

      # form parameters
      form_params = {}

      # proxy parameters
      proxy_params = opts[:'proxy'] if !opts[:'proxy'].nil?  
      proxyuserpwd_params = opts[:'proxyuserpwd'] if !opts[:'proxyuserpwd'].nil? 

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :proxy_params => proxy_params,
        :proxyuserpwd_params => proxyuserpwd_params,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Voucher>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoucherApi#voucher_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Issues a voucher to the specified member.
    # Issues a voucher to a member and supports providing a voucher mapping string for use in situations where a voucher barcode is not desired.  Please note that the barcode property is the custom voucher mapping string, which is optional.
    # @param id The id of the member.
    # @param voucher_id The id of the voucher.
    # @param api_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :barcode The barcode number to issue.
    # @option opts [Integer] :member_type The type of member.
    # @return [Object]
    def voucher_post_voucher(id, voucher_id, api_key, opts = {})
      data, _status_code, _headers = voucher_post_voucher_with_http_info(id, voucher_id, api_key, opts)
      return data
    end

    # Issues a voucher to the specified member.
    # Issues a voucher to a member and supports providing a voucher mapping string for use in situations where a voucher barcode is not desired.  Please note that the barcode property is the custom voucher mapping string, which is optional.
    # @param id The id of the member.
    # @param voucher_id The id of the voucher.
    # @param api_key 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :barcode The barcode number to issue.
    # @option opts [Integer] :member_type The type of member.
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def voucher_post_voucher_with_http_info(id, voucher_id, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VoucherApi.voucher_post_voucher ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VoucherApi.voucher_post_voucher"
      end
      # verify the required parameter 'voucher_id' is set
      if @api_client.config.client_side_validation && voucher_id.nil?
        fail ArgumentError, "Missing the required parameter 'voucher_id' when calling VoucherApi.voucher_post_voucher"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling VoucherApi.voucher_post_voucher"
      end
      # resource path
      local_var_path = "/api/Member/{id}/Voucher".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'voucherId'] = voucher_id
      query_params[:'barcode'] = opts[:'barcode'] if !opts[:'barcode'].nil?
      query_params[:'memberType'] = opts[:'member_type'] if !opts[:'member_type'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      header_params[:'ApiKey'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoucherApi#voucher_post_voucher\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
